<!--begin::Head-->
<head>
	<title>Standardiasi Kompetensi Bidang Kominfo</title>
	<meta charset="utf-8" />
	<meta name="description" content="Standardiasi Kompetensi Bidang Kominfo" />
	<meta name="keywords" content="Kominfo, Puslitaptika, Badan Litbang, Okupasi, SKKNI, digital talent, talenta digital, komunikasi, telekomunikasi" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Standardiasi Kompetensi Bidang Kominfo" />
	<link rel="shortcut icon" href="../../assets/media/logos/logo-kominfo.png" />
	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<!--end::Fonts-->
	
	<!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->